<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Funarbe\SupermercadoEscolaApi\Api\SeparacaoProdutosManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\SeparacaoProdutosManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\DetalhesProdutosManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\DetalhesProdutosManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\DetalhesProdutosImagemManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\DetalhesProdutosImagemManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\BuscarCategoriasManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\BuscarCategoriasManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\ExcluirItemCompraManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\ExcluirItemCompraManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\AdicionarItemCompraManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\AdicionarItemCompraManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\AberturaPontoManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\AberturaPontoUfvManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\AberturaPontoUfvManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\AberturaPontoUfvManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\VerificaProdutoSemImagemManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\VerificaProdutoSemImagemManagement"/>

    <preference for="Funarbe\SupermercadoEscolaApi\Api\VerificaProdutoSemImagemManagementInterface"
                type="Funarbe\SupermercadoEscolaApi\Model\VerificaProdutoSemImagemManagement"/>
</config>

